.container {
    max-width: 90%;
    padding: 0 1rem;
    margin:  5rem auto 5rem;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 1em;
    color: rgba(37,129,220,0.89);
    box-shadow: 5px 10px 8px 7px rgba(103, 103, 103, 0.17);
}

.backToHome {
    margin: 3rem 0 0;
}
